


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

:root{
    --colorTextos: #0e0d0d;
    --colorBotones: #44fa41;
    --colorFondo: #838688;
    --paddingSecciones: 30px 0;
    --marginElementos: 10px;
    
}

body{
    font-family: 'Open Sans', sans-serif;
}


.contenedor{
    width: 100%;
    margin: auto;
    overflow: hidden;
    padding: var(--paddingSecciones);
    
}
